.left{float:left;
       background-color:red;
       width:70%;
       height:400px;
       margin-bottom:40px;}

.right{float:left;
       background-color:blue;
       width:30%;
       height:400px;
       margin-bottom:40px;}